*
!.asy/*
!.config
!.config/*
!.config/alacritty/*
!.config/Code - OSS/User/settings.json
!.config/Code - OSS/User/keybindings.json
!.config/mako/*
!.config/fish
!.config/fish/**
!.config/lf
!.config/lf/**
!.config/kak/*
!.config/kak/**
!.config/newsboat/*
!.config/nvim/*
!.config/mutt/*
!.config/ranger/
!.config/ranger/**
!.config/sxiv/*
!.config/sxiv/exec/*
!.config/sxhkd/*
!.config/sway/*
!.config/i3/*
!.config/waybar/*
!.config/wal/*
!.config/wofi/*
!.config/qutebrowser/*
!.config/zathura/*
!.install
!.install/**
!scripts
!scripts/**
!.wallpapers
!.wallpapers/**
!.bash_profile
!.bashrc
!.bash_bookmarks
!.xinitrc
!.gitmodules
!.gitignore
!.latexmkrc
!.msmtprc
!.offlineimaprc
!README.md
